<h2>Записаться</h2>
<p>На это странице вы сможете записаться к нам в Barber Shop</p>

<form action="/visit" method="POST">
  <div class="form-group">
    <label>Ваше имя: </label>
    <input name="username"type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Ваше имя">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>